@import "root.css";

/**

Tablette    992


Mobile      768
            

**/


@media screen and (max-width: 992px){

    body {
        margin: 0 20px;
    }

    #container{
        flex-direction: column;
    }

    #container-house{
        width: auto;
    }

    .filters {
        margin-right: 10px;
        font-size: 0.9em;
      }

    #popular{
        margin: 50px 0 0 0;
        width: auto;
    }

    #popular-container-all{
        display: flex;
        justify-content: space-between;
    }

    .popular-container {
        flex: 1 1 33%;
        margin-right: 10px;
        max-width: 260px;
    }

    .popular-house img{
        width: 80px;
    }

    .activity-box {
        height: 100%;
        width: 100%;
    }

    .activity-box img {
        height: 280px;
        width: 100%;  
    }

    #activity-container{
        gap: 10px;
    }

    .activity-box p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){

    body{
        margin: 0;
    }
    
    nav{
        flex-direction: column;
    }
    
    .div-container ,form, #filters-section p, #info , .text-container{
        padding: 0 20px;
    }

    input {
        font-size: 14px;
    }

    #search-button {
        padding: 8px;
    }

    #location {
        height: 18px;
        padding: 9px;
    }
  
    #search-icon {
        display: initial;
    }

    
    #logo{
        margin: auto;
    }
    
    #nav-section .actif {
        border: none;
        border-bottom: 2px solid var(--blue);
        padding-bottom: 20px;
        
    }

    #nav-section li{
        width: 49%;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
        border-top:inherit
    }

    #nav-section li:hover{
        border-bottom: 2px solid var(--blue);
        border-top: inherit;
    }

    #nav-section{
        padding-left: inherit;
    }
    
    #filters {
        margin-left: inherit;
        flex-wrap: wrap;
        justify-content: left;
        gap: 10px 10px;
        padding: 0 20px
    }
    
    #filters-section {
        display: initial;
    }
    
    .filters-text {
        font-size: 11px;
    }
    
    #filters-section p {
        font-size: 18px;
    }
    
    .filters {
        display: flex;
        align-items: center;
        width: 40%;
        margin: inherit;
    }
    
    .container-picture {
        margin: 0 20px;
        display: block;
        flex-direction: column;
    }
    
    #popular-container-all {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }
    
    #container {
        flex-direction: column-reverse;
    }
    
    .popular-container {
        max-width: 100%;
    }
    
    #activity-container {
        gap: 40px;
        margin: 0 20px;
        flex-wrap: wrap;
    }
    
    .activity-box img {
        height: 165px;
        width: 100%;
    }
    #container-house {
        background-color: inherit;
        padding: 0;
        width: 100%;
    }
    
    #container-house h2 {
        margin: 25px 20px;
    }
    
    #popular {
        padding: 0;
        width: 100%;
        margin-top: inherit;
    }
    
    .container-box {
        padding: 0;
    }
    
    #popular-icon i {
        margin: 0;
    }
    
    .popular-container {
        padding: inherit
    }
    
    #footer-container {
        width: inherit;
        display: flex;
        flex-direction: column;
    }
    
    #popular {
        border-radius: inherit; 
    }
    
    .popular-house img {
        height: 150px;
        width: 110px;
        padding: 3px;
    }
    
    #popular-icon h2 {
        margin: 30px 0 0 20px;
    }
    
    #popular-icon i {
        margin: 30px 20px 0 0;
    }
    .view-more {
        display:none
    }
    
    #activity h2 {
    
        margin: 5px 25px 30px 25px;
    }
    
    #activity {
        margin-bottom: 30px;
    }

    .activity-box {
        height: 100%;

    }

    .img-house {
        padding: 3px
    }

    #nav-section{
        margin-top: 20px;
        padding: 0;
    }
    
    #nav-section li{
        margin: inherit;
        padding-top: inherit;
    }

    .filters {
        width: 33%;
    }

    .filters-text {
        font-size: 11px;
    }
    
    #filters-section p {
        font-size: 18px;
    }


    #search-text {
        display: none;
    }


    #search-box {
        width: inherit;
    }
    .house-text {
        margin-left: 15px;
        padding-bottom: 5px;
    }
}


                /* MOBILE */

