@import url("https://fonts.googleapis.com/css?family=Raleway:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400");
@import "root.css";

body{
    margin: 0px 50px;  
    font-family: 'Raleway', sans-serif; 
}

#logo{
    width: 61px;
    height: 19px;
    padding-top: 20px;
}

li{
    list-style-type: none;
}

nav{
    display: flex;
    justify-content: space-between;
}

#nav-section{
    display: flex;
    margin-top: 0;
}

#nav-section li {
    margin: 0px 30px;
    padding-top: 20px;
    border-top: solid 2px transparent;
    font-size: 16px;
}

#nav-section li a {
    text-decoration: none;
    color: black;
} 

#nav-section .actif {
    border-top: solid 2px #0065FC;
}

#nav-section .actif a {
    color: #0065FC;
}

#nav-section li:hover{
    border-top: solid 2px #0065FC;
}

#nav-section li:hover a{
    color: #0065FC;
}

#location{
    width: 14px;
    height: 18px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
}

#search-box{
    display: flex;
    width: 320px;
    height: 45px;
    align-items: center;
}

#search-button{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 10px 10px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    margin: initial;
}

.text-container h1{
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 5px;
}

.text-container p{
    margin: 0;
}

.text-container p{
    font-size: 16px;
}

input{
    outline: none;
    border:none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2; 
    background-color: transparent;
    font-weight: bold;
    color:black;
    padding: 10px;
    margin: initial;  
}

form{
    margin-top: 15px;
}

            /* FILTERS */

#filters-section {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 25px;
}

#filters {
    display: flex;
    margin-left: 30px;
}

.filters {
    border: 2px solid var(--grey);
    border-radius: 25px;
    padding: 10px 15px; 
    margin-right: 35px;
    font-size: 17px;
}

.filters:hover {
    background-color: var(--cyan);
    cursor: pointer;
}

#filters .filters i {
    color: var(--blue);
    margin-right: 10px;
}

#info{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#text{
    font-size: 16px;
}

#info-logo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--grey);
    margin-right: 10px;
}

#info-logo i{
    margin-left: 12px;
    margin-top: 5px;
    color: var(--blue)
}

            /* MAIN */



#container-house{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 42px 40px;
    width: 845px;
    height: 630px;   
}

#container-house h2{
    margin: 0;
    margin-bottom: 25px;
}

.container-box a{
    text-decoration: none;
    color:black;
}

.container-box img{
    width: 255px;
    height: 125px;
    object-fit: cover;
}

.container-box p,.container-box h3 {
    margin: 0px;
}


.stars i{
    width: 12px;
    height: 12px;
    color: var(--blue);
    margin: 0 1px;
}

.container-picture{
    display: flex;
    justify-content: space-between; 
}

.container-box{
    padding: 4px 4px 10px 4px;
    background-color: white;
    border-radius: 20px;
    /* box-shadow: black 0.1px 1px 10px; */

}

.img-house img {
    border-radius: 20px 20px 0px 0px;
}

.house-text{
    margin-left: 7px;
}

.house-text h3{
    font-size: 16px;
    margin-top: 4px;
}

.house-text p{
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 9px;
}




